@import "variables";

.page-title {
  margin: 2rem 0;
}

.row {
  margin-bottom: 2rem;
}

.footer-menu {
  color: #eee;
  padding: 1.2rem 0;
  background-color: $background-dark-2;
}

.credits {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.6rem;
  background-color: $background-dark-1;
}
