@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
}

.body-wrapper {
  padding-bottom: 300px;
}

.footer-wrapper {
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar-dark {
  background-color: $background-dark-2;
}

.navbar-nav {
  .nav-link {
    padding: 1rem 1rem;
  }

  .nav-item {
    &:hover, &.active {
      color: $link-hover-color;
      background-color: $background-dark-3;
      border-bottom: 2px solid $link-hover-color;
    }
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }
}

.page-title {
  margin: 2rem 0;
}

.row {
  margin-bottom: 2rem;
}

.full-size-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-menu {
  color: #eee;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: $background-dark-2;
}

.credits {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.6rem;
  background-color: $background-dark-1;
}

/* Form styles */
.form-field-error {
  border: 1px solid $link-hover-color;

  & + .errors::after {
    color: red;
    content: "x";
  }
}
