<div id="player-modal" class="is-closed">
  <div class="player-modal-header">
    <div id="player-name"></div>
  </div>
  <div class="player-modal-content">
    <div id="hours-played" class="player-modal-stat"></div>
    <div id="matches-won" class="player-modal-stat"></div>
    <div id="matches-played" class="player-modal-stat"></div>
    <div id="total-kills" class="player-modal-stat"></div>
    <div id="total-deaths" class="player-modal-stat"></div>
    <div id="accuracy" class="player-modal-stat"></div>
  </div>
  <div class="player-modal-footer">
  </div>
</div>
