<div class="feature-image-wrapper">
  <%= image_tag "CSGO-Header.jpg", width: 900 %>
</div>

<div class="container">
  <div class="about-content">
    <h2>Game Basics</h2>
    <p>
    Some stuff about how the game works.
    </p>
  </div>
  <div class="about-image-wrapper">
    <%= image_tag "CSGO-logo.jpg", width: 300 %>
  </div>
</div>

<div class="container">
  <div class="about-content">
    <h2>Game Modes</h2>
    <p>
    CS:GO provides a number of different game modes, targetting different play
    styles. The game modes are divided between casual and competitive modes.
    Competitive modes provide matchmaking with a ranking system, while casual
    games modes are intented for fun, casual play.
    </p>

    <h3>Casual Game Modes</h3>
    <p>
    Casual game modes are all about having fun without feeling the pressure of
    a competitive encironment.
    </p>

    <h4>Arms Race</h4>
    <p>
    Arms Race is often referred to as gungame in many other online shooters. In
    this game mode players spawn with a specific weapon. Each time the player
    gets a kill with the current weapon they advance to the next level, at which
    point they receive a new weapon. The weapon for the last level is always a
    gold knife; the first player to get a kill with the gold knife wins the
    match. One exception to normal gameplay is when a player gets a knife kill
    while on a gun level; when this happens the player advances to the next
    level and the player they killed is demoted to the previous level.
    </p>

    <h4>Demolition</h4>
    <p>
    The demolition game mode has the same objective as the bomb scenario game
    mode. The terrorist team's objective is to plant the bomb and destroy the
    target, while the counter terrorist team must stop them. A round ends when
    either: one team eliminates the entire enemy team, the terrorists plant the
    bomb and it explodes, or the counter terrorist team defuses the bomb.
    </p>

    <h4>Deatmatch</h4>
    <p>
    The deathmatch game mode has no objective beyond eliminating enemy players.
    Unlike other game modes, when players die they respawn almost immediately.
    The game has a time limit and the winner is determined by the player with
    the most points at the end of the time limit. Players score points by
    eliminating players from the enemy team and gain extra points for getting
    kills with the desired weapon displayed on screen.
    </p>

    <h4>Bomb Scenario</h4>
    <p>
    In bomb scenario maps, there are two bombsites labeled A and B located on
    the map somewhere. One player chosen at random each round on the terrorist
    team spawns with a bomb. The terrorist team's objective is to plant the
    bomb at one of the bomb sites. As soon as they do, a 40 second countdown
    timer begins. The counter-terrorist team's objective is to defuse the bomb
    before the time runs out. If the terrorist team succeeds in blowing up a
    bomb site, they win the round. If the counter-terrorists defuse the bomb,
    they win the round. If one team eliminates the entire opponent team before
    either of these happen, they also win the round.
    </p>

    <h4>Hostage Scenario</h4>
    <p>
    In hostage scenario maps, there are several hostages located in fixed
    locations near the terrorist spawn point. The terrorist team's objective
    is to maintain control of the hostages and eliminate the enemy team. The
    counter-terrorist team's objective is to extract a hostage. If any one of
    the hostages is rescued, the counter-terrorist team wins. Otherwise, if
    either team eliminates the other team they win.
    </p>

    <h3>Competitive Game Modes</h3>
    <p>
    Competitive game modes bring a thrill to the game for experienced players.
    Players receive a rank based on how many matches they've won or lost, which
    is used to balance skill levels. Players in competitive game modes tend to
    be more serious and play to win. Additionally, competitive modes have
    friendly fire enabled; meaning players can damage their teammates, which is
    not possible in casual modes.
    </p>

    <h4>Bomb Scenario</h4>
    <p>
    Competitive bomb scenario maps play identically to casual bomb scenario
    maps. They are also the default for tournament play. In some leagues the
    bomb timers are slightly reduced from the standard 40 seconds.
    </p>

    <h4>Hostage Scenario</h4>
    <p>
    Hostage scenario maps are also identical to casual modes, except that they
    are rarely played in competitive play. The map pool used in professional
    leagues contains exclusively bomb scenario maps, which carries over to the
    maps regular players play in competitive mode.
    </p>
  </div>
</div>
