<h1>Welcome to CS:GO Informer </h1>

<div class="row homepage-banner">
  <div class="col-md-6">
    <div class="promo-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/edYCtaNueQY" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">
    <div class="homepage-banner-links">
      <div class="homepage-banner-link">
        <% link_to "about.html" do %>
          <strong>Learn the Game</strong>
        <% end %>
      </div>
      <div class="homepage-banner-link">
        <% link_to "events.html" do %>
          <strong>Upcoming Events</strong>
        <% end %>
      </div>
      <div class="homepage-banner-link">
        <% link_to "teams.html" do %>
          <strong>Browse Teams</strong>
        <% end %>
      </div>
      <div class="homepage-banner-link">
        <% link_to "contact_form.html" do %>
          <strong>Add your team</strong>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="featured-item">
    <% link_to "events.html" do %>
      <span class="featured-title">Upcoming Events</span><br/>
      Click here for the latest events
    <% end %>
  </div>
  <div class="featured-item">
    <% link_to "about.html" do %>
      <span class="featured-title">Tutorials</span><br/>
      Learn from the pros in our featured tutorials
    <% end %>
  </div>
  <div class="featured-item">
    <% link_to "teams/luminosity.html" do %>
      <span class="featured-title">Featured Team</span><br/>
      This month's featured team is
      <span class="team-name">Luminosity Gaming</span>. The Brazilian team has
      been making headlines around the world with 1st place finishes in the
      last 3 majors.
    <% end %>
  </div>
</div>
