<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "index" %>
<% end %>

<div class="row homepage-banner">
  <div class="col-md-7">
    <div class="auto-resizable-iframe">
      <div>
        <iframe src="https://www.youtube.com/embed/edYCtaNueQY" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="mission-statement">
      <h2>Our Mission</h2>
      <p>
        We built CS:GO Informer as a one-stop place for all the latest Counter
        Strike news, event listings, and tutorials. We are dedicated to providing
        the most up-to-date information available, without any unnecessary
        advertisements or spam.
      </p>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="homepage-banner-links">
      <% link_to "about.html", class: "homepage-banner-link" do %>
        <strong>Learn the Game</strong>
      <% end %>
      <% link_to "events.html", class: "homepage-banner-link" do %>
        <strong>Upcoming Events</strong>
      <% end %>
      <% link_to "teams.html", class: "homepage-banner-link" do %>
        <strong>Browse Teams</strong>
      <% end %>
      <% link_to "contact_player.html", class: "homepage-banner-link" do %>
        <strong>Add your team</strong>
      <% end %>
    </div>
    <div>
      <div class="twitter-widget">
        <a class="twitter-timeline" href="https://twitter.com/search?q=%40csgodev" data-widget-id="790747560877056000">Tweets about @csgodev</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="featured-item">
      <% link_to "events.html" do %>
        <span class="featured-link"></span>
      <% end %>
      <h2 class="featured-title">Upcoming Events</h2>
      We maintain a comprehensive list of upcoming events. Majors, minors, LAN
      events, it's all here.
    </div>
  </div>
  <div class="col-md-4">
    <div class="featured-item">
      <% link_to "about.html" do %>
        <span class="featured-link"></span>
      <% end %>
      <h2 class="featured-title">Tutorials</h2>
      Do you want to improve as a Counter Strike player? We feature tutorials
      by pros that will help you get there.
    </div>
  </div>
  <div class="col-md-4">
    <div class="featured-item">
      <% link_to "sk_gaming.html" do %>
        <span class="featured-link"></span>
      <% end %>
      <h2 class="featured-title">Featured Team</h2>
      This month's featured team is
      <span class="team-name">SK Gaming</span>. The Brazilian team has
      been making headlines around the world with 1st place finishes in the
      last 3 majors.
    </div>
  </div>
</div>
