<h1>Welcome to CS:GO Informer </h1>

<div class="homepage-banner">
  <div class="promo-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/edYCtaNueQY" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="homepage-banner-links">
    <div class="homepage-banner-link">
      <a href="#"><h3>Learn the Game</h3></a>
    </div>
    <div class="homepage-banner-link">
      <a href="#"><h3>Upcoming Events</h3></a>
    </div>
    <div class="homepage-banner-link">
      <a href="#"><h3>Promo Link 1</h3></a>
    </div>
    <div class="homepage-banner-link">
      <a href="#"><h3>Promo Link 2</h3></a>
    </div>
  </div>
</div>

<div class="row">
  <div class="featured-item">
    <a href="#">
      <h3>Upcoming Events</h3>
      <p>Click here for the latest events</p>
    </a>
  </div>
  <div class="featured-item">
    <a href="#">
      <h3>Tutorials</h3>
      <p>Learn from the pros in our featured tutorials</p>
    </a>
  </div>
  <div class="featured-item">
    <a href="#">
      <h3>Featured Team</h3>
      <p>
      This month's featured team is Luminosity Gaming. The Brazilian team has
      been making headlines around the world with 1st place finishes in the
      last 3 majors.
      </p>
    </a>
  </div>
</div>
