---
title: "Latest news for Counter Strike: Global Offensive"
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "news" %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "news" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="news-container">
    </div>
  </div>
</div>
