---
title: "Latest news for Counter Strike: Global Offensive"
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "news" %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "news" %>
<% end %>

<div class="news-container">
</div>
