<div class="container">
  <h1>Professional Teams</h1>

  <p>
    The teams listed below are professional teams from around the world that
    have recently qualified for a major Counter Strike : Global Offensive event.
  </p>

  <!-- ======= Team Liquid ======= -->
  <table>
    <thead>
      <tr>
        <th colspan="5">Team Liquid</th>
      </tr>
      <tr>
        <th>Steam ID</th>
        <th>Name</th>
        <th>Roles</th>
        <th>Home Country</th>
        <th>Join Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>nitr0</td>
        <td>Nick Cannella</td>
        <td>Rifler / Entry Fragger</td>
        <td>USA</td>
        <td>2015-01-13</td>
      </tr>
      <tr>
        <td>EliGE</td>
        <td>Jonathan Jablonowski</td>
        <td>Rifler / Entry Fragger</td>
        <td>USA</td>
        <td>2015-03-22</td>
      </tr>
      <tr>
        <td>Hiko</td>
        <td>Spencer Martin</td>
        <td>IGL / Rifler / Lurker</td>
        <td>USA</td>
        <td>2015-09-03</td>
      </tr>
      <tr>
        <td>jdm64</td>
        <td>Joshua Marzano</td>
        <td>Primary AWPer</td>
        <td>USA</td>
        <td>2016-06-13</td>
      </tr>
      <tr>
        <td>Pimp</td>
        <td>Jacob Winneche</td>
        <td>Rifler / AWPer</td>
        <td>Denmark</td>
        <td>2016-06-15</td>
      </tr>
      <tr>
        <td>peacemaker</td>
        <td>Luis Tadeu</td>
        <td>Coach</td>
        <td>Brazil</td>
        <td>2016-05-17</td>
      </tr>
      <tr>
        <td>s1mple (stand-in)</td>
        <td>Oleksandr Kostyliev</td>
        <td>Rifler / AWPer</td>
        <td>Ukraine</td>
        <td>2016-06-06</td>
      </tr>
    </tbody>
  </table>
</div>
