---
title: "Professional CS:GO teams"
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "teams" %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "teams" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h1>Professional Teams</h1>

      <p>
        The teams listed below are professional teams from around the world that
        have recently qualified for a major Counter Strike : Global Offensive event.
      </p>
    </div>
  </div>
</div>

<!-- ======= Cloud9 ======= -->
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-title" colspan="5">Cloud9</th>
          </tr>
          <tr>
            <th>Steam ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Country</th>
            <th>Join Date</th>
          </tr>
        </thead>
        <tbody>
          <% content_tag :tr, class: "team-list-player",
            data: { player_id: "76561197961021014", player_name: "n0thing" } do %>
            <td>n0thing</td>
            <td>Jordan Gilbert</td>
            <td>IGL / Rifler / Lurker</td>
            <td>USA</td>
            <td>2014-08-01</td>
          <% end %>
          <% content_tag :tr, class: "team-list-player",
            data: { player_id: "76561197964781654", player_name: "shroud" } do %>
            <td>shroud</td>
            <td>Michael Grzesiek</td>
            <td>Rifler</td>
            <td>Canada / Poland</td>
            <td>2014-08-01</td>
          <% end %>
          <% content_tag :tr, class: "team-list-player",
            data: { player_id: "76561197981341453", player_name: "Skadoodle" } do %>
            <td>Skadoodle</td>
            <td>Tyler Latham</td>
            <td>AWPer</td>
            <td>USA</td>
            <td>2015-04-29</td>
          <% end %>
          <% content_tag :tr, class: "team-list-player",
            data: { player_id: "76561197999004010", player_name: "Stewie2k" } do %>
            <td>Stewie2k</td>
            <td>Jake Yip</td>
            <td>Rifler / Entry Fragger</td>
            <td>USA</td>
            <td>2016-01-11</td>
          <% end %>
          <% content_tag :tr, class: "team-list-player",
            data: { player_id: "76561198054870849", player_name: "autimatic" } do %>
            <td>Autimatic</td>
            <td>Alec White</td>
            <td>IGL / Rifler</td>
            <td>USA</td>
            <td>2016-04-23</td>
          <% end %>
          <% content_tag :tr, class: "team-list-player",
            data: { player_id: "76561197960426102", player_name: "Irukandji" } do %>
            <td>Irukandji</td>
            <td>Andrew Timmerman</td>
            <td>Coach</td>
            <td>USA</td>
            <td>2016-03-24</td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ======= Counter Logic Gaming ======= -->
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-title" colspan="5">Counter Logic Gaming</th>
          </tr>
          <tr>
            <th>Steam ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Country</th>
            <th>Join Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>reltuC</td>
            <td>Stephen Cutler</td>
            <td>IGL / Rifler</td>
            <td>USA</td>
            <td>2015-01-16</td>
          </tr>
          <tr>
            <td>hazed</td>
            <td>James Cobb</td>
            <td>Rifler / Entry Fragger</td>
            <td>USA</td>
            <td>2015-01-16</td>
          </tr>
          <tr>
            <td>tarik</td>
            <td>Tarik Celik</td>
            <td>Rifler / Entry Fragger</td>
            <td>USA / Turkey</td>
            <td>2015-01-16</td>
          </tr>
          <tr>
            <td>koosta</td>
            <td>Kenneth Suen</td>
            <td>AWPer</td>
            <td>USA</td>
            <td>2016-06-13</td>
          </tr>
          <tr>
            <td>pita</td>
            <td>Faruk Pita</td>
            <td>Coach / Stand-in</td>
            <td>Bosnia and Herzegovina / Sweden</td>
            <td>2015-12-06</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ======= SK Gaming ======= -->
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-title" colspan="5">SK Gaming</th>
          </tr>
          <tr>
            <th>Steam ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Country</th>
            <th>Join Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fallen</td>
            <td>Gabriel Toledo</td>
            <td>IGL / AWPer</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          </tr>
          <tr>
            <td>fer</td>
            <td>Fernando Alvarenga</td>
            <td>Rifler / Entry Fragger</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          </tr>
          <tr>
            <td>coldzera</td>
            <td>Marcelo David</td>
            <td>Rifler / AWPer</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          </tr>
          <tr>
            <td>fnx</td>
            <td>Lincoln Lau</td>
            <td>Rifler / Lurker / Entry Fragger</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          </tr>
          <tr>
            <td>TACO</td>
            <td>Epitácio de Melo</td>
            <td>Rifler / Entry Fragger</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          </tr>
          <tr>
            <td>zews</td>
            <td>Wilton Prado</td>
            <td>Coach</td>
            <td>Brazil</td>
            <td>2016-07-01</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- ======= Team Liquid ======= -->
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th class="table-title" colspan="5">Team Liquid</th>
          </tr>
          <tr>
            <th>Steam ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th>Country</th>
            <th>Join Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>nitr0</td>
            <td>Nick Cannella</td>
            <td>Rifler / Entry Fragger</td>
            <td>USA</td>
            <td>2015-01-13</td>
          </tr>
          <tr>
            <td>EliGE</td>
            <td>Jonathan Jablonowski</td>
            <td>Rifler / Entry Fragger</td>
            <td>USA</td>
            <td>2015-03-22</td>
          </tr>
          <tr>
            <td>Hiko</td>
            <td>Spencer Martin</td>
            <td>IGL / Rifler / Lurker</td>
            <td>USA</td>
            <td>2015-09-03</td>
          </tr>
          <tr>
            <td>jdm64</td>
            <td>Joshua Marzano</td>
            <td>Primary AWPer</td>
            <td>USA</td>
            <td>2016-06-13</td>
          </tr>
          <tr>
            <td>Pimp</td>
            <td>Jacob Winneche</td>
            <td>Rifler / AWPer</td>
            <td>Denmark</td>
            <td>2016-06-15</td>
          </tr>
          <tr>
            <td>peacemaker</td>
            <td>Luis Tadeu</td>
            <td>Coach</td>
            <td>Brazil</td>
            <td>2016-05-17</td>
          </tr>
          <tr>
            <td>s1mple (stand-in)</td>
            <td>Oleksandr Kostyliev</td>
            <td>Rifler / AWPer</td>
            <td>Ukraine</td>
            <td>2016-06-06</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= partial "teams/player_modal" %>
