---
title: "Professional CS:GO teams"
---
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "teams" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="page-title">
      <h1>Professional Teams</h1>

      <p>
        The teams listed below are professional teams from around the world that
        have recently qualified for a major Counter Strike : Global Offensive event.
      </p>

      <ul>
        <li><a href="teams/clg.html">Counter Logic Gaming</a></li>
        <li><a href="teams/cloud9.html">Cloud9</a></li>
        <li><a href="teams/team_liquid.html">Team Liquid</a></li>
        <li><a href="teams/sk_gaming.html">SK Gaming</a></li>
    </div>
  </div>
</div>
